# RL & Env
stable-baselines3==2.2.1
gymnasium==0.29.1

# Scientific stack
numpy>=1.23
pandas>=1.5
matplotlib>=3.6

# C++ module
pybind11>=2.11

# Logging
tensorboard>=2.10

# Optional
scikit-learn>=1.2



